/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #ffffff;
  --global-code-bg-color: #D3D3D3;
  --global-text-color: #000000;
  --global-text-color-light: #636363;
  --global-theme-color: #005A43;
  --global-hover-color: #CEDC00;
  --global-hover-text-color: #ffffff;
  --global-footer-bg-color: #222222;
  --global-footer-text-color: #636363;
  --global-footer-link-color: #ffffff;
  --global-distill-app-color: #636363;
  --global-divider-color: #00000017;
  --global-card-bg-color: #ffffff;

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #141414;
  --global-code-bg-color: #B8B8B8;
  --global-text-color: #636363;
  --global-text-color-light: #636363;
  --global-theme-color: #CEDC00;
  --global-hover-color: #005A43;
  --global-hover-text-color: #ffffff;
  --global-footer-bg-color: #636363;
  --global-footer-text-color: #141414;
  --global-footer-link-color: #000000;
  --global-distill-app-color: #636363;
  --global-divider-color: #424246;
  --global-card-bg-color: #212121;

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
